In [12]:
# Load the ratings by user information that you collected into a pandas dataframe.

import pandas as pd
import numpy as np

movieRatings = pd.read_csv('Movie_Data.csv', index_col = 0)
movieRatings

,The Godfather,Forrest Gump,Jaws,E.T.,Citizen Kane,Shawshank Redemption
Ashley,NaN,4.0,4.0,5.0,3.0,5.0
Tom,5.0,4.0,5.0,3.0,NaN,4.0
Chris,5.0,4.0,4.0,3.0,NaN,5.0
Matt,4.0,3.0,2.0,2.0,NaN,3.0
Carl,5.0,4.0,5.0,3.0,NaN,4.0
,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# Replace 'NaN' values with 0 for purpose of calculating average ratings

movieRatings.fillna(value=0, inplace=True)
movieRatings

,The Godfather,Forrest Gump,Jaws,E.T.,Citizen Kane,Shawshank Redemption
Ashley,0.0,4.0,4.0,5.0,3.0,5.0
Tom,5.0,4.0,5.0,3.0,0.0,4.0
Chris,5.0,4.0,4.0,3.0,0.0,5.0
Matt,4.0,3.0,2.0,2.0,0.0,3.0
Carl,5.0,4.0,5.0,3.0,0.0,4.0
,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
# Show the average ratings for each user.

userAverage = movieRatings.mean(axis = 1)
userAverage

Ashley    3.500000
Tom       3.500000
Chris     3.500000
Matt      2.333333
Carl      3.500000
          0.000000
dtype: float64

In [15]:
# Show the average ratings for each movie.
movieRatings.mean()

The Godfather           3.166667
Forrest Gump            3.166667
Jaws                    3.333333
E.T.                    2.666667
Citizen Kane            0.500000
Shawshank Redemption    3.500000
dtype: float64

In [16]:
# Create a new pandas dataframe, with normalized ratings for each user
normalized = (movieRatings - movieRatings.min()) / (movieRatings.max() - movieRatings.min())
normalized

,The Godfather,Forrest Gump,Jaws,E.T.,Citizen Kane,Shawshank Redemption
Ashley,0.0,1.00,0.8,1.0,1.0,1.0
Tom,1.0,1.00,1.0,0.6,0.0,0.8
Chris,1.0,1.00,0.8,0.6,0.0,1.0
Matt,0.8,0.75,0.4,0.4,0.0,0.6
Carl,1.0,1.00,1.0,0.6,0.0,0.8
,0.0,0.00,0.0,0.0,0.0,0.0

In [17]:
# Show the normalized average ratings for each user
normalized.mean(axis = 1)

Ashley    0.800000
Tom       0.733333
Chris     0.733333
Matt      0.491667
Carl      0.733333
          0.000000
dtype: float64

In [18]:
# Show the normalized average ratings for each movie 
normalized.mean()

The Godfather           0.633333
Forrest Gump            0.791667
Jaws                    0.666667
E.T.                    0.533333
Citizen Kane            0.166667
Shawshank Redemption    0.700000
dtype: float64

In [ ]:
# Normalized ratings in this case would eliminate provide a more accurate representation of the average movie rating, 
# by placing on a scale of 0-1 rather than 1-1000 it also makes the data easier to analyze.